@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}

:root {
    
  --mainColor: #222831;
  --mainHoverColor: #2F3745;

  --mainColorLight: #EEEEEE;
  --mainHoverColorLight: #B3B3B3;

  --secondaryColor: #FD7014;
  --secondaryHoverColor: #FE9352;

  --colorBlue: #5F85DA;
}

body {
  background-color: var(--mainHoverColorLight);
}

/* NAVBAR */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--secondaryColor);
  color: var(--mainColorLight);
}
header a {
  text-decoration: none;
  color: var(--mainColorLight);
}

nav .btn-link {
  background-color: transparent;
  border: none;
}

nav a {
  margin: 0 1rem;
  color: var(--mainColorLight);
  text-decoration: none;

  font-weight: 500;
  transition: 0.2s;
}
nav a:hover{
  color: var(--mainHoverColorLight);
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--mainColorLight);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
/* carrossel */

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-navigation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.carousel-prev,
.carousel-next {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}

.carousel-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.carousel-thumbnails img {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: border-color 0.5s ease-in-out
}

.carousel-thumbnails img.active {
  border-color: #333;
}

/* footer */
.container-footer {
  background-color: #3a4f6a;
}
footer {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin: 0 30px;
  color: #a2b5cd;
}

footer.top {
  border-bottom: 2px solid #222831;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
}


footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

footer.botton {
  padding: 23px 0;
  justify-content: space-between;
}

footer .links > div a {
  text-decoration: none;
  color: #B3B3B3;
}

footer .links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f7;
}

footer .legal {
  font-size: 13px;
}

footer .legal > a {
  margin: 0 4px;
  text-decoration: none;
  color: #B3B3B3;
}

footer .legal > span {
  margin-right: 18px;
}

footer.botton .links {
  display: flex;
  gap: 18px;
}

@media only screen and (max-width: 767px) {

  /* NAVBAR */

  header .nav-btn{
      visibility: visible;
      opacity: 1;
  }

  header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5em;

      backdrop-filter: blur(8px) saturate(52%);
      -webkit-backdrop-filter: blur(8px) saturate(52%);
      background-color: rgba(17, 25, 40, 0.65);

      transition: 1s;
      transform: translateY(-100vh);

      z-index: 1;
  }

  header .responsive_nav{
      transform: none;
  }

  nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
  }

  nav a {
      font-size: 1.5rem;
  }
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }
  footer.botton {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer.botton .links > a {
  font-size: 24px;
}

@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.botton {
    align-items: center;
  }

  footer .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}